// PlaceHolders
// Display: Flex

%df-fdc {
    display: flex;
    flex-direction: column;
}

%df-aic {
    display: flex;    
    align-items: center;
}

%df-jcc {
    display: flex;    
    justify-content: center;
}

%df-jcsb {
    display: flex;    
    justify-content: space-between;
}

%df-fdc-jcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%df-fdc-aic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%df-jcsb-aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%df-jcc-aic {
    display: flex;
    justify-content: center;
    align-items: center;
}

%df-fdc-jcc-aic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
