@import "../sass/variables";

/* ANIMATIONS SUR CARDS */

@keyframes slideup { /* Déplacement de bas en haut (Y) */
    from {
        transform: translateY(5vw);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideup-left { /* Déplacement de gauche à droite (X) et  de bas en haut (Y)*/
    from {
        transform: translate(-10vw, 10vw);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideup-right { /* Déplacement de droite à gauche (X) et  de bas en haut (Y)*/
    from {
        transform: translate(10vw, 10vw);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/* ANIMATION LOADER */

@keyframes wait { /* Permet de délimiter le début et la fin de l'apparition */
    0% {
        visibility: hidden; /* cache le loader jusqu'à ce qu'il soit appelé */
    }
    100% {
        visibility: hidden; /* Fait disparaitre le loader une fois le temps écoulé */
    }
}

@keyframes scale { /* C'est l'animation en elle-même... Gère le zoom et la colorisation sur chaque élément enfant de la class .letter */
    0% {
        color: $tertiary;
        text-shadow: 0 0 0.7vw $primary;
        transform: translateY(0);
        transform: scale(1.8);
    }

    50% {
        color: $secondary;
        text-shadow: 0 0 0.7vw $tertiary;
        transform: translateY(-1.5vw);
    }

    100% {
        color: $primary;
        text-shadow: 0 0 0.7vw $secondary;
    }
}
