@keyframes slideup {
    from {
        transform: translateY(50px);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideup-left {
    from {
        transform: translate(-100px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideup-right {
    from {
        transform: translate(100px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
