@charset "UTF-8";
/* ANIMATIONS SUR CARDS */
@-webkit-keyframes slideup {
  /* Déplacement de bas en haut (Y) */
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideup {
  /* Déplacement de bas en haut (Y) */
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-left {
  /* Déplacement de gauche à droite (X) et  de bas en haut (Y)*/
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-left {
  /* Déplacement de gauche à droite (X) et  de bas en haut (Y)*/
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-right {
  /* Déplacement de droite à gauche (X) et  de bas en haut (Y)*/
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-right {
  /* Déplacement de droite à gauche (X) et  de bas en haut (Y)*/
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

/* ANIMATION LOADER */
@-webkit-keyframes wait {
  /* Permet de délimiter le début et la fin de l'apparition */
  0% {
    visibility: hidden;
    /* cache le loader jusqu'à ce qu'il soit appelé */
  }
  100% {
    visibility: hidden;
    /* Fait disparaitre le loader une fois le temps écoulé */
  }
}
@keyframes wait {
  /* Permet de délimiter le début et la fin de l'apparition */
  0% {
    visibility: hidden;
    /* cache le loader jusqu'à ce qu'il soit appelé */
  }
  100% {
    visibility: hidden;
    /* Fait disparaitre le loader une fois le temps écoulé */
  }
}

@-webkit-keyframes scale {
  /* C'est l'animation en elle-même... Gère le zoom et la colorisation sur chaque élément enfant de la class .letter */
  0% {
    color: #99e2d0;
    text-shadow: 0 0 0.7vw #9556dc;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 0.7vw #99e2d0;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  100% {
    color: #9556dc;
    text-shadow: 0 0 0.7vw #ff79da;
  }
}
/*# sourceMappingURL=keyframes.css.map */