@import "sass/variables";
@import "sass/placeholders";
@import "sass/mixins";
@import "sass/keyframes";

/* GENERAL */

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-transform: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header__logo,
h1 {
    font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 7.467vw;
    font-weight: normal;
}

h2 {
    font-size: 5.5vw;
}

h3 {
    font-size: 4.8vw;
    font-weight: normal;
}

p,
span {
    font-size: 4.2vw;
    font-weight: normal;
}

.fas,
.far {
    font-size: 4vw;
}

/* HEADER */

.header-restos {
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;

    .arrow-left {
        position: absolute;
        left: 5.333vw;
        top: 6vw;

        .fas {
            font-size: 5vw;
        }
    }

    h1 {
        margin: 3.333vw 0;
    }
}

/* MAIN */

.restos__img {
    display: block;
    & img {
        width: 100%;
        max-height: 80vw;
        object-fit: cover;
    }
}

.restos__title {
    background-color: #f6f6f6;
    padding: 1.333vw 4vw 0 4vw;
    margin-top: -13.333vw;
    border-radius: 10vw 10vw 0 0;
    position: relative;

    .restos__header {
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h1 {
            font-size: 7vw;
            padding-left: 1.333vw;
        }

        .fa-heart {
            font-weight: normal;
            position: absolute;
            top: 8vw;
            right: 6.667vw;
            font-size: 6.4vw;
            @include heart;
        }
    }
}

.restos__menu-section {
    background-color: #f6f6f6;
    padding: 1.333vw 4vw;
}

.restos__menu {
    @extend %df-fdc;
    height: max-content;
    gap: 4vw;
    margin-bottom: 10.667vw;
}

.restos__serving {
    font-size: 3.8vw;
    margin: 0;
    padding-left: 1.333vw;

    &::after {
        content: "";
        display: block;
        width: 10.667vw;
        height: 0.667vw;
        background: #99e2d0;
        transform: translateY(180%);
    }
}

.restos__cards {
    @extend %df-jcsb;
    flex-grow: 1;
    height: 18vw;
    border-radius: 4.4vw;
    box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    .cards__title {
        width: 70%;
        white-space: nowrap; /*évite le retour à la ligne */
        overflow: hidden;

        h3 {
            font-size: 4vw;
            margin: 3vw 0 0 3vw;
            font-weight: bold;
            overflow: hidden; /*efface le texte au fur et à mesure qu'on passe dessus*/
            text-overflow: ellipsis; /*fait apparaitre les ...*/
        }
        p {
            font-size: 3.4vw;
            margin: 1vw 0 0 3vw;
            overflow: hidden; /*efface le texte au fur et à mesure qu'on passe dessus*/
            text-overflow: ellipsis; /*fait apparaitre les ...*/
        }
    }

    .cards__price {
        text-align: center;
        flex-shrink: 0;
        width: 15%;
        padding-top: 9.667vw;

        span {
            font-weight: bold;
            color: #424242;
        }
    }

    .cards__validation {
        @extend %df-jcc-aic;
        flex-shrink: 0;
        margin-right: -15%;
        width: 15%;
        background: #99e2d0;
        color: white;
    }

    &:hover .cards__validation {
        transition-duration: 1s;
        margin-right: 0;
    }
}

.slideup {
    animation: slideup 1.5s ease;
}

.slideup-left {
    animation: slideup-left 1.5s ease;
}

.slideup-right {
    animation: slideup-right 1.5s ease;
}

.fa-check-circle {
    font-size: 5.3vw;
    transition: transform 1s;
}

.restos__cards:hover .fa-check-circle {
    transform: rotate(-360deg);
}

.restos__button {
    @extend %df-jcc;

    .btn-first {
        margin: 10vw 0;
        @include btn-first;
    }
}

/* FOOTER */

footer {
    @include footer;

    p {
        font-size: 4.267vw;
    }
}

/* LOADER */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    @extend %df-jcc-aic;
    background-color: rgba(153, 226, 208, 0.8);
    width: 100%;
    height: 100%;
    animation: wait 5s 3s infinite;
}

.loader {
    @extend %df-jcc-aic;
    width: 15vw;
    height: 15vw;
    animation-name: wait;
}

.letter {
    font-size: 10vw;
    font-weight: normal;
    color: $tertiary;
    animation: scale 1.4s linear infinite;

    &:nth-child(1) {
        animation-delay: 0.1s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:nth-child(4) {
        animation-delay: 0.4s;
    }
    &:nth-child(5) {
        animation-delay: 0.5s;
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
    &:nth-child(7) {
        animation-delay: 0.7s;
    }
    &:nth-child(8) {
        animation-delay: 0.8s;
    }
}
