.restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reserver, .restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position, .fonctionnement__magnet, .number, .loading, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reserver, .restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position, .fonctionnement__magnet, .number, .loading, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HEART */
/* BUTTON */
/* FOOTER */
/* LOADER */
/* ANIMATIONS SUR CARDS */
@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideup {
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-left {
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-left {
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-right {
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-right {
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

/* ANIMATION LOADER */
@-webkit-keyframes wait {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes wait {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes scale {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 0.7vw #9556dc;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 0.7vw #99e2d0;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  100% {
    color: #9556dc;
    text-shadow: 0 0 0.7vw #ff79da;
  }
}

@keyframes scale {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 0.7vw #9556dc;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 0.7vw #99e2d0;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  100% {
    color: #9556dc;
    text-shadow: 0 0 0.7vw #ff79da;
  }
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-transform: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__logo,
h1 {
  font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 7.467vw;
  font-weight: normal;
}

h2 {
  font-size: 5.5vw;
}

h3 {
  font-size: 4.8vw;
}

p,
span {
  font-size: 4.2vw;
  font-weight: normal;
}

.fas,
.far {
  font-size: 4vw;
}

/* HEADER */
header {
  height: 12.8vw;
}

.header__logo {
  text-align: center;
  margin: 3.333vw 0 0 0;
  font-weight: normal;
}

/* MAIN */
/* SECTION POSITION */
.position {
  width: 100%;
  height: 12.8vw;
  background: #eaeaea;
  -webkit-box-shadow: inset 0.133vw 2vw 1.867vw -1.867vw rgba(0, 0, 0, 0.3);
          box-shadow: inset 0.133vw 2vw 1.867vw -1.867vw rgba(0, 0, 0, 0.3);
}

.fa-map-marker-alt {
  margin-right: 4vw;
}

/* SECTION RESERVER */
.reserver {
  padding: 0 6vw;
  background: #f6f6f6;
  height: 76.8vw;
}

.reserver h2 {
  padding: 9.6vw 0 3.467vw 0;
  margin: 0;
  text-align: center;
}

.reserver p {
  text-align: center;
  margin: 0;
}

.reserver .btn-first {
  margin-top: 8.533vw;
  width: 59.733vw;
  height: 14.133vw;
  font-size: 4vw;
  border-radius: 8.533vw;
  border: none;
  background-image: linear-gradient(355deg, #9556dc, #ff79da);
  color: #fff;
  font-weight: bold;
}

.reserver .btn-first:hover {
  opacity: 0.9;
}

@media only screen and (min-width: 750.1px) {
  .reserver .btn-first {
    width: 30vw;
    height: 6vw;
    font-size: 2vw;
    border-radius: 6vw;
  }
}

/* SECTION FONCTIONNEMENT */
.fonctionnement__section {
  padding: 10.667vw 5.333vw;
}

.fonctionnement__magnets {
  width: 100%;
  padding-left: 2.133vw;
  gap: 21.33vw;
}

.fonctionnement__magnet {
  position: relative;
  margin: 6.4vw 0;
  width: 98%;
  height: 19.2vw;
  font-size: 4vw;
  border-radius: 6.4vw;
  border: none;
  font-weight: bold;
  background-color: #f6f6f6;
  -webkit-box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
          box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fonctionnement__magnet:hover {
  cursor: pointer;
  background-color: #fff3fc;
}

.fonctionnement__magnet:hover .fas {
  color: #9556dc;
}

.number {
  position: absolute;
  height: 6.4vw;
  width: 6.4vw;
  color: white;
  background-color: #9556dc;
  border-radius: 50%;
  top: middle;
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: normal;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  position: absolute;
  left: 11.733vw;
  font-size: 5.6vw;
  color: #7e7e7e;
}

/* SECTION RESTAURANTS */
.restaurants__section {
  width: 100%;
  padding: 8.533vw 0 17vw 0;
  background: #f6f6f6;
}

.restaurants__title {
  padding-left: 5.333vw;
}

.restaurants__cards {
  gap: 4vw;
}

.restaurants__card {
  position: relative;
  aspect-ratio: 670/504;
  height: 67.2vw;
  background-color: white;
  border: none;
  border-radius: 5.333vw;
  -webkit-box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
          box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.restocard__h3 {
  margin: 2.667vw 0 1.333vw 3.333vw;
}

.restocard__p {
  margin: 1.333vw 0 1.333vw 3.333vw;
}

.restocard__img {
  height: 100%;
  width: 100%;
  border-radius: 5.333vw 5.333vw 0 0;
  overflow: hidden;
}

.restocard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.restocard__details {
  height: 37%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1.333vw 0;
}

.fa-heart {
  position: absolute;
  bottom: 8vw;
  right: 6.667vw;
  font-size: 6.4vw;
  cursor: pointer;
  color: black;
  font-weight: 100;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

.fa-heart:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  font-weight: 300;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9556dc), to(#ff79da));
  background-image: linear-gradient(#9556dc, #ff79da);
}

.fa-heart:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9556dc), to(#ff79da));
  background-image: linear-gradient(#9556dc, #ff79da);
  font-weight: 900;
  opacity: 0;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

/* FOOTER */
footer {
  background: #353535;
  color: white;
  padding: 6.4vw;
}

footer h1 {
  font-size: 4.833vw;
  font-weight: normal;
  margin: 0 0 4vw 1.333vw;
}

footer ul {
  padding: 0;
  margin: 0 auto;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fa-utensils {
  margin-right: 3.333vw;
  margin-left: 1.333vw;
}

footer .fa-hands-helping {
  margin-right: 1.6vw;
  margin-left: 1.333vw;
}

footer p {
  margin: 1vw;
}

footer a {
  color: white;
}

@media only screen and (min-width: 750.1px) {
  footer {
    padding: 3vw;
  }
  footer h1 {
    font-size: 3vw;
    margin: 0 0 0 1.333vw;
  }
  footer .fa-utensils {
    margin-right: 1vw;
    margin-left: 1.5vw;
  }
  footer .fa-hands-helping {
    margin-right: 0.1vw;
    margin-left: 1.5vw;
  }
  footer p {
    margin: 0.5vw 0 0 1.5vw;
  }
}

@media only screen and (min-width: 992.1px) {
  footer {
    padding: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer h1 {
    text-align: left;
    font-size: 3vw;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  footer li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
  }
  footer .fa-utensils {
    font-size: 1.6vw;
    margin-right: 1vw;
  }
  footer .fa-hands-helping {
    font-size: 1.6vw;
    margin-right: 1vw;
  }
  footer p {
    margin: 0;
    font-size: 1.5vw;
  }
  footer a {
    color: white;
  }
}

/* LOADER */
.loading {
  position: fixed;
  top: 0;
  background-color: rgba(153, 226, 208, 0.8);
  width: 100%;
  height: 100%;
  -webkit-animation: wait 5s 3s infinite;
          animation: wait 5s 3s infinite;
}

.loader {
  width: 15vw;
  height: 15vw;
  -webkit-animation-name: wait;
          animation-name: wait;
}

.letter {
  font-size: 10vw;
  font-weight: normal;
  color: #99e2d0;
  -webkit-animation: scale 1.4s linear infinite;
          animation: scale 1.4s linear infinite;
}

.letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
/*# sourceMappingURL=style.css.map */