@import "../sass/variables";
@import "../sass/placeholders";
@import "../sass/mixins";
@import "../sass/keyframes";

/*************     **************\
            HOME PAGE
\********************************/

@media only screen and (min-width: 750.1px) {
    /* GENERAL */

    .header__logo,
    h1 {
        font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 3.5vw;
    }

    h2 {
        font-size: 2.8vw;
    }

    h3 {
        font-size: 2.4vw;
    }

    p,
    span {
        font-size: 2.2vw;
    }

    .fas,
    .far {
        font-size: 2vw;
    }

    /* HEADER */

    header {
        height: 8.8vw;

        .header__logo {
            padding-top: 2vw;
            margin: 1.8vw 0 0 0;
            font-weight: normal;
        }
    }

    /* MAIN */
    /* SECTION POSITION */

    .position {
        height: 6.8vw;
    }

    .fa-map-marker-alt {
        margin-right: 2vw;
    }

    /* SECTION RESERVER */

    .reserver {
        height: auto;

        h2 {
            padding: 4vw 0 3.467vw 0;
        }

        p {
            font-size: 2vw;
            width: 80vw;
        }

        .btn-first {
            margin: 4.6vw 0 4.6vw 0;
        }
    }

    /* SECTION FONCTIONNEMENT */

    .fonctionnement__section {
        padding: 4vw;
        height: auto;
    }

    .fonctionnement__title {
        text-align: center;
        margin: 0;
    }

    .fonctionnement__magnets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4vw 0 0 0;
        gap: 2vw;
    }

    .fonctionnement__magnet {
        margin: 0;
        width: 40%;
        height: 8vw;
        border-radius: 3vw;

        .step {
            font-size: 2.2vw;
            padding-left: 4vw;
        }

        .number {
            height: 3vw;
            width: 3vw;
            font-size: 1.6vw;
        }

        .fa-mobile-alt,
        .fa-list-ul,
        .fa-store {
            left: 3.5vw;
            font-size: 2.6vw;
        }
    }

    /* SECTION RESTAURANTS */

    .restaurants__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4vw;
    }

    .restaurants__title {
        padding: 0;
        margin: 0 0 4vw 0;
    }

    .restaurants__cards {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
    }

    .restaurants__card {
        height: 25.2vw;
        border-radius: 4.333vw;

        .fa-heart {
            bottom: 2vw;
            right: 4vw;
            font-size: 3vw;
        }
    }

    .restocard__h3 {
        margin: 0 0 0.8vw 3.333vw;
    }

    .restocard__p {
        margin: 0 0 0 3.333vw;
    }

    .restocard__img {
        border-radius: 4.333vw 4.333vw 0 0;
    }

    .new {
        &::after {
            font-size: 2vw;
            top: 1.6vw;
            right: 1.8vw;
            padding: 0.6vw;
            height: 3.5vw;
            width: 11vw;
            border-radius: 0.4vw;
        }
    }

    .restocard__details {
        display: flex;
        flex-direction: column;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin: 1.6vw 0;
    }

    /* FOOTER == Idem Mobile */

    /* LOADER == Idem Mobile */
}

/*********************************************************************************
*********************************************************************************/

@media only screen and (min-width: 992.1px) {

    /* HEADER */
    .header {
        height: clamp(50px, 5vw, 75px);

        .header__logo {
            padding-top: clamp(10px, 1vw, 15px);
            font-size: clamp(20px, 2vw, 30px);
            margin: clamp(10px, 1vw, 15px) 0;
        }
    }

    /* MAIN */
    /* SECTION POSITION */

    .position {
        height: clamp(50px, 5vw, 75px);

        .fa-map-marker-alt {
            font-size: clamp(15px, 1.5vw, 22.5px);
            margin-right: clamp(15px, 1.5vw, 22.5px);
        }

        span {
            font-size: clamp(15px, 1.5vw, 22.5px);
        }
    }

    /* SECTION RESERVER */

    .reserver {
        height: auto;

        h2 {
            font-size: clamp(15px, 1.5vw, 22.5px);
            padding: clamp(10px, 1vw, 15px) 0 clamp(5px, 0.5vw, 7.5px) 0;
        }

        p {
            font-size: clamp(15px, 1.5vw, 22.5px);
            width: clamp(800px, 80vw, 1200px);
            margin: clamp(10px, 1vw, 15px) 0;
        }

        .btn-first {
            width: clamp(300px, 30vw, 450px);
            height: clamp(40px, 4vw, 60px);
            margin: clamp(10px, 1vw, 15px) 0 clamp(20px, 2vw, 30px) 0;
            font-size: clamp(18px, 1.8vw, 27px);
            border-radius: clamp(20px, 2vw, 30px);
        }
    }

    /* SECTION FONCTIONNEMENT */

    .fonctionnement__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: clamp(30px, 3vw, 45px);
        height: auto;

        .fonctionnement__title {
            font-size: clamp(22px, 2.2vw, 33px);
            text-align: center;
            margin: 0;
        }

        .fonctionnement__magnets {
            display: flex;
            flex-direction: row;
            width: 85%;
            padding: clamp(30px, 3vw, 45px) 0 clamp(10px, 1vw, 15px) 0;
            gap: clamp(20px, 2vw, 30px);
        }

        .fonctionnement__magnet {
            margin: 0;
            width: 30%;
            height: clamp(16px, 6vw, 80px);
            border-radius: clamp(30px, 3vw, 45px);            

            .step {
                font-size: clamp(16px, 1.6vw, 24px);
                padding-left: clamp(40px, 4vw, 60px);
            }

            .number {
                height: clamp(28px, 2.8vw, 42px);
                width: clamp(28px, 2.8vw, 42px);
                font-size: clamp(16px, 1.6vw, 24px);
            }

            .fa-mobile-alt,
            .fa-list-ul,
            .fa-store {
                left: clamp(28px, 2.8vw, 42px);
                font-size: clamp(20px, 2vw, 30px);
            }
        }
    }

    /* SECTION RESTAURANTS */

    .restaurants__section {
        padding: clamp(30px, 3vw, 45px);
        margin-bottom: clamp(10px, 1vw, 15px);
    }

    .restaurants__title {
        font-size: clamp(22px, 2.2vw, 33px);
        margin: 0 0 clamp(30px, 3vw, 45px) 0;
    }

    .restaurants__cards {
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: clamp(20px, 2vw, 30px);
    }

    .restaurants__card {
        height: clamp(200px, 20vw, 300px);
        border-radius: clamp(30px, 3vw, 45px);

        .fa-heart {
            bottom: clamp(13px, 1.3vw, 20px);
            right: clamp(40px, 4vw, 60px);
            font-size: clamp(20px, 2vw, 30px);
        }
    }

    .restocard__h3 {
        margin: 0 0 clamp(6px, 0.6vw, 9px) clamp(30px, 3vw, 45px);
        font-size: clamp(18px, 1.8vw, 27px);
    }

    .restocard__p {
        margin: 0 0 clamp(6px, 0.6vw, 9px) clamp(30px, 3vw, 45px);
        font-size: clamp(14px, 1.4vw, 21px);
    }

    .restocard__img {
        border-radius: clamp(30px, 3vw, 45px) clamp(30px, 3vw, 45px) 0 0;
    }

    .new {
        &::after {
            font-size: clamp(16px, 1.6vw, 24px);
            top: clamp(15px, 1.5vw, 22.5px);
            right: clamp(16px, 1.6vw, 24px);
            padding: clamp(5px, 0.5vw, 7.5px);
            height: clamp(30px, 3vw, 45px);
            width: clamp(90px, 9vw, 135px);
        }
    }

    .restocard__details {
        display: flex;
        flex-direction: column;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin: clamp(6px, 0.6vw, 9px) 0;
    }
}

/*********************************************************************************
*********************************************************************************/

/**************     **************\
            RESTOS PAGE
\*********************************/

/* HEADER */

@media only screen and (min-width: 750.1px) {
    .header-restos {
        height: 8.8vw;

        .arrow-left {
            left: 4vw;
            top: 3.5vw;

            .fas {
                font-size: 2vw;
            }
        }

        h1 {
            margin: 1.8vw 0 0 0;
            font-size: 3.5vw;
        }
    }

    /* MAIN */

    .restos__img {
        display: block;
        & img {
            max-height: 50vw;
        }
    }

    .restos__title {
        margin-top: -8vw;
        border-radius: 5vw 5vw 0 0;

        .restos__header {
            justify-content: center;
            h2 {
                font-size: 3.5vw;
                margin: 3vw 0 1vw 0;
            }

            .fa-heart {
                top: 4vw;
                right: 8vw;
                font-size: 3.5vw;
            }
        }
    }

    .restos__menu-section {
        background-color: #f6f6f6;
        padding: 1.333vw 4vw 0 4vw;
    }

    .restos__menu {
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin: 3vw 0 0 0;
    }

    .restos__serving {
        font-size: 2vw;
        &::after {
            width: 4.8vw;
            height: 0.567vw;
            transform: translateY(100%);
        }
    }

    .restos__cards {
        width: 85%;
        height: 10vw;
        border-radius: 3vw;
        box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);

        .cards__title {
            h3 {
                margin: 1.3vw 0 0 4vw;
                font-size: 2.5vw;
            }

            p {
                font-size: 2vw;
                margin: 1vw 0 0 4vw;
            }
        }

        .cards__price {
            font-size: 2vw;
            padding-top: 5vw;
        }

        .cards__validation {
            .fas {
                font-size: 3.5vw;
            }
        }
    }

    .restos__button {
        .btn-first {
            margin: 6vw 0;
        }
    }

    /* FOOTER */

    footer {
        p {
            font-size: 2vw;
        }
    }
}

/*********************************************************************************
*********************************************************************************/

@media only screen and (min-width: 992.1px) {
    /* HEADER */
    .header-restos {
        height: clamp(50px, 5vw, 75px);

        .arrow-left {
            top: clamp(18px, 1.8vw, 27px);

            .fas {
                font-size: clamp(12px, 1.2vw, 18px);
            }
        }

        h1 {
            font-size: clamp(20px, 2vw, 30px);
            margin: clamp(10px, 1vw, 15px) 0;
        }
    }

    /* MAIN */

    .restos__img {
        display: block;
        & img {
            width: 100%;
            max-height: clamp(300px, 30vw, 450px);
        }
    }

    .restos__title {
        margin-top: clamp(-40px, -4vw, -60px);
        border-radius: clamp(30px, 3vw, 45px) clamp(30px, 3vw, 45px) 0 0;
        .restos__header {
            h2 {
                font-size: clamp(20px, 2vw, 30px);
                margin-top: clamp(10px, 1vw, 15px);
            }

            .fa-heart {
                top: clamp(12px, 1.2vw, 18px);
                font-size: clamp(20px, 2vw, 30px);
            }
        }
    }

    .restos__menu-section {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #f6f6f6;
        padding: clamp(15px, 1.5vw, 22.5px) 0 clamp(10px, 1vw, 15px) 0;
    }

    .restos__menu {
        width: 33%;
        gap: clamp(10px, 1vw, 15px);

        h3 {
            font-size: clamp(12px, 1.2vw, 18px);
        }
        gap: clamp(12px, 1.2vw, 18px);
        margin-bottom: 0;
    }

    .restos__serving {
        &::after {
            width: clamp(30px, 3vw, 45px);
            height: clamp(3px, 0.3vw, 4.5px);
            transform: translateY(40%);
        }
    }

    .restos__cards {
        width: 96%;
        height: clamp(55px, 5.5vw, 82.5px);
        border-radius: clamp(13px, 1.3vw, 19.5px);
        box-shadow: clamp(-4px, -0.4vw, -6px) clamp(7px, 0.667vw, 10.5px) clamp(40px, 4vw, 60px) clamp(-7px, -0.667vw, -10.5px)
            rgba(204, 204, 204, 0.99);

        .cards__title {
            h3 {
                margin: clamp(10px, 1vw, 15px) 0 0 clamp(20px, 2vw, 30px);
                font-size: clamp(13px, 1.3vw, 19.5px);
            }

            p {
                font-size: clamp(11px, 1.1vw, 16.5px);
                margin: clamp(5px, .5vw, 7.5px) 0 0 clamp(20px, 2vw, 30px);
            }
        }

        .cards__price {
            width: clamp(50px, 5vw, 75px);
            padding-top: clamp(20px, 2vw, 30px);

            span {
                font-size: clamp(12px, 1.2vw, 18px);
            }
        }

        .cards__validation {
            margin-right: clamp(-75px, -5vw, -50px);
            width: clamp(50px, 5vw, 75px);

            .fas {
                font-size: clamp(18px, 1.8vw, 27px);
            }
        }
    }

    .restos__button {
        .btn-first {
            margin: clamp(30px, 3vw, 45px) 0 clamp(40px, 4vw, 60px) 0;
            width: clamp(180px, 18vw, 270px);
            height: clamp(40px, 4vw, 60px);
            font-size: clamp(18px, 1.8vw, 27px);
            border-radius: clamp(20px, 2vw, 30px);
        }
    }

    /* FOOTER */

    footer {
        h1 {
            font-size: clamp(20px, 2vw, 30px);
        }
        p {
            font-size: clamp(15px, 1.5vw, 22.5px);
        }
    }
}

/*********************************************************************************
*********************************************************************************/
