@charset "UTF-8";
.restos__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restos__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restos__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restos__cards .cards__validation, .loading, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restos__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restos__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restos__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restos__cards .cards__validation, .loading, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HEART */
/* BUTTON */
/* FOOTER */
/* LOADER */
/* ANIMATIONS SUR CARDS */
@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideup {
  from {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-left {
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-left {
  from {
    -webkit-transform: translate(-10vw, 10vw);
            transform: translate(-10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideup-right {
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideup-right {
  from {
    -webkit-transform: translate(10vw, 10vw);
            transform: translate(10vw, 10vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

/* ANIMATION LOADER */
@-webkit-keyframes wait {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes wait {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes scale {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 0.7vw #9556dc;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 0.7vw #99e2d0;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  100% {
    color: #9556dc;
    text-shadow: 0 0 0.7vw #ff79da;
  }
}

@keyframes scale {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 0.7vw #9556dc;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 0.7vw #99e2d0;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  100% {
    color: #9556dc;
    text-shadow: 0 0 0.7vw #ff79da;
  }
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-transform: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__logo,
h1 {
  font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 7.467vw;
  font-weight: normal;
}

h2 {
  font-size: 5.5vw;
}

h3 {
  font-size: 4.8vw;
  font-weight: normal;
}

p,
span {
  font-size: 4.2vw;
  font-weight: normal;
}

.fas,
.far {
  font-size: 4vw;
}

/* HEADER */
.header-restos {
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.header-restos .arrow-left {
  position: absolute;
  left: 5.333vw;
  top: 6vw;
}

.header-restos .arrow-left .fas {
  font-size: 5vw;
}

.header-restos h1 {
  margin: 3.333vw 0;
}

/* MAIN */
.restos__img {
  display: block;
}

.restos__img img {
  width: 100%;
  max-height: 80vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.restos__title {
  background-color: #f6f6f6;
  padding: 1.333vw 4vw 0 4vw;
  margin-top: -13.333vw;
  border-radius: 10vw 10vw 0 0;
  position: relative;
}

.restos__title .restos__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restos__title .restos__header h2 {
  font-size: 7vw;
  padding-left: 1.333vw;
}

.restos__title .restos__header .fa-heart {
  font-weight: normal;
  position: absolute;
  top: 6vw;
  right: 6.667vw;
  font-size: 6.4vw;
  cursor: pointer;
  color: black;
  font-weight: 100;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

.restos__title .restos__header .fa-heart:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  font-weight: 300;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9556dc), to(#ff79da));
  background-image: linear-gradient(#9556dc, #ff79da);
}

.restos__title .restos__header .fa-heart:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.restos__title .restos__header .fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9556dc), to(#ff79da));
  background-image: linear-gradient(#9556dc, #ff79da);
  font-weight: 900;
  opacity: 0;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

.restos__menu-section {
  background-color: #f6f6f6;
  padding: 1.333vw 4vw;
}

.restos__menu {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 4vw;
  margin-bottom: 10.667vw;
}

.restos__serving {
  font-size: 3.8vw;
  margin: 0;
  padding-left: 1.333vw;
}

.restos__serving::after {
  content: "";
  display: block;
  width: 10.667vw;
  height: 0.667vw;
  background: #99e2d0;
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
}

.restos__cards {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 18vw;
  border-radius: 4.4vw;
  -webkit-box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
          box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
  text-overflow: ellipsis;
  overflow: hidden;
}

.restos__cards:hover {
  cursor: pointer;
}

.restos__cards .cards__title {
  width: 70%;
  white-space: nowrap;
  /*évite le retour à la ligne */
  overflow: hidden;
}

.restos__cards .cards__title h3 {
  font-size: 4vw;
  margin: 3vw 0 0 3vw;
  font-weight: bold;
  overflow: hidden;
  /*efface le texte au fur et à mesure qu'on passe dessus*/
  text-overflow: ellipsis;
  /*fait apparaitre les ...*/
}

.restos__cards .cards__title p {
  font-size: 3.4vw;
  margin: 1vw 0 0 3vw;
  overflow: hidden;
  /*efface le texte au fur et à mesure qu'on passe dessus*/
  text-overflow: ellipsis;
  /*fait apparaitre les ...*/
}

.restos__cards .cards__price {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 15%;
  padding-top: 9.667vw;
}

.restos__cards .cards__price span {
  font-weight: bold;
  color: #424242;
}

.restos__cards .cards__validation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: -15%;
  width: 15%;
  background: #99e2d0;
  color: white;
}

.restos__cards:hover .cards__validation {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-right: 0;
}

.slideup {
  -webkit-animation: slideup 1.5s ease;
          animation: slideup 1.5s ease;
}

.slideup-left {
  -webkit-animation: slideup-left 1.5s ease;
          animation: slideup-left 1.5s ease;
}

.slideup-right {
  -webkit-animation: slideup-right 1.5s ease;
          animation: slideup-right 1.5s ease;
}

.fa-check-circle {
  font-size: 5.3vw;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.restos__cards:hover .fa-check-circle {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.restos__button {
  background-color: #f6f6f6;
}

.restos__button .btn-first {
  margin: 0 0 10vw 0;
  width: 59.733vw;
  height: 14.133vw;
  font-size: 4vw;
  border-radius: 8.533vw;
  border: none;
  background-image: linear-gradient(355deg, #9556dc, #ff79da);
  color: #fff;
  font-weight: bold;
}

.restos__button .btn-first:hover {
  opacity: 0.9;
}

@media only screen and (min-width: 750.1px) {
  .restos__button .btn-first {
    width: 30vw;
    height: 6vw;
    font-size: 2vw;
    border-radius: 6vw;
  }
}

/* FOOTER */
footer {
  background: #353535;
  color: white;
  padding: 6.4vw;
}

footer h1 {
  font-size: 4.833vw;
  font-weight: normal;
  margin: 0 0 4vw 1.333vw;
}

footer ul {
  padding: 0;
  margin: 0 auto;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fa-utensils {
  margin-right: 3.333vw;
  margin-left: 1.333vw;
}

footer .fa-hands-helping {
  margin-right: 1.6vw;
  margin-left: 1.333vw;
}

footer p {
  margin: 1vw;
}

footer a {
  color: white;
}

@media only screen and (min-width: 750.1px) {
  footer {
    padding: 3vw;
  }
  footer h1 {
    font-size: 3vw;
    margin: 0 0 0 1.333vw;
  }
  footer .fa-utensils {
    margin-right: 1vw;
    margin-left: 1.5vw;
  }
  footer .fa-hands-helping {
    margin-right: 0.1vw;
    margin-left: 1.5vw;
  }
  footer p {
    margin: 0.5vw 0 0 1.5vw;
  }
}

@media only screen and (min-width: 992.1px) {
  footer {
    padding: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer h1 {
    text-align: left;
    font-size: 3vw;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  footer li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
  }
  footer .fa-utensils {
    font-size: 1.6vw;
    margin-right: 1vw;
  }
  footer .fa-hands-helping {
    font-size: 1.6vw;
    margin-right: 1vw;
  }
  footer p {
    margin: 0;
    font-size: 1.5vw;
  }
  footer a {
    color: white;
  }
}

footer p {
  font-size: 4.267vw;
}

/* LOADER */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(153, 226, 208, 0.8);
  width: 100%;
  height: 100%;
  -webkit-animation: wait 5s 3s infinite;
          animation: wait 5s 3s infinite;
}

.loader {
  width: 15vw;
  height: 15vw;
  -webkit-animation-name: wait;
          animation-name: wait;
}

.letter {
  font-size: 10vw;
  font-weight: normal;
  color: #99e2d0;
  -webkit-animation: scale 1.4s linear infinite;
          animation: scale 1.4s linear infinite;
}

.letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
/*# sourceMappingURL=restos.css.map */