@import "../sass/variables";
@import "../sass/placeholders";
@import "../sass/mixins";
@import "../sass/keyframes";

/* GENERAL */

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-transform: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header__logo,
h1 {
    font-family: "Shrikhand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 7.467vw;
    font-weight: normal;
}

h2 {
    font-size: 5.5vw;
}

h3 {
    font-size: 4.8vw;
}

p,
span {
    font-size: 4.2vw;
    font-weight: normal;
}

.fas,
.far {
    font-size: 4vw;
}

/* HEADER */

header {
    height: 12.8vw;
}

.header__logo {
    text-align: center;
    margin: 3.333vw 0 0 0;
    font-weight: normal;
}

/* MAIN */
/* SECTION POSITION */

.position {
    @extend %df-jcc-aic;
    width: 100%;
    height: 12.8vw;
    background: #eaeaea;
    box-shadow: inset 0.133vw 2vw 1.867vw -1.867vw rgba(0, 0, 0, 0.3);
}

.fa-map-marker-alt {
    margin-right: 4vw;
}

/* SECTION RESERVER */

.reserver {
    @extend %df-fdc-aic;
    padding: 0 6vw;
    background: #f6f6f6;
    height: 76.8vw;

    h2 {
        padding: 9.6vw 0 3.467vw 0;
        margin: 0;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 0;
    }

    .btn-first {
        margin-top: 8.533vw;
        @include btn-first;
    }
}

/* SECTION FONCTIONNEMENT */

.fonctionnement__section {
    padding: 10.667vw 5.333vw;
}

.fonctionnement__magnets {
    width: 100%;
    padding-left: 2.133vw;
    gap: 21.33vw;
}

.fonctionnement__magnet {
    position: relative;
    margin: 6.4vw 0;
    @extend %df-jcc-aic;
    width: 98%;
    height: 19.2vw;
    font-size: 4vw;
    border-radius: 6.4vw;
    border: none;
    font-weight: bold;
    background-color: #f6f6f6;
    box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
    flex-grow: 1;

    &:hover {
        cursor: pointer;
        background-color: lighten($secondary, 24%);
    }

    &:hover .fas {
        color: $primary;
    }
}

.number {
    position: absolute;
    height: 6.4vw;
    width: 6.4vw;
    color: white;
    background-color: $primary;
    border-radius: 50%;
    top: middle;
    left: 0;
    transform: translate(-50%, 0);
    @extend %df-jcc-aic;
    font-weight: normal;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
    position: absolute;
    left: 11.733vw;
    font-size: 5.6vw;
    color: #7e7e7e;
}

/* SECTION RESTAURANTS */

.restaurants__section {
    width: 100%;
    padding: 8.533vw 0 17vw 0;
    background: #f6f6f6;
}

.restaurants__title {
    padding-left: 5.333vw;
}

.restaurants__cards {
    @extend %df-fdc-aic;
    gap: 4vw;
}

.restaurants__card {
    position: relative;
    @extend %df-fdc;
    aspect-ratio: 670/504;
    height: 67.2vw;
    background-color: white;
    border: none;
    border-radius: 5.333vw;
    box-shadow: -0.4vw 0.667vw 4vw -0.667vw rgba(204, 204, 204, 0.99);
    flex-grow: 1;
}

.restocard__h3 {
    margin: 2.667vw 0 1.333vw 3.333vw;
}

.restocard__p {
    margin: 1.333vw 0 1.333vw 3.333vw;
}

.restocard__img {
    height: 100%;
    width: 100%;
    border-radius: 5.333vw 5.333vw 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.restocard__details {
    height: 37%;
    flex-grow: 1;
    margin: 1.333vw 0;
}

.fa-heart {
    position: absolute;
    bottom: 8vw;
    right: 6.667vw;
    font-size: 6.4vw;
    @include heart;
}

/* FOOTER */

footer {
    @include footer;
}

/* LOADER */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    @extend %df-jcc-aic;
    background-color: rgba(153, 226, 208, 0.8);
    width: 100%;
    height: 100%;
    animation: wait 5s 3s infinite;
}

.loader {
    @extend %df-jcc-aic;
    width: 15vw;
    height: 15vw;
    animation-name: wait;
}

.letter {
    font-size: 10vw;
    font-weight: normal;
    color: $tertiary;
    animation: scale 1.4s linear infinite;

    &:nth-child(1) {
        animation-delay: 0.1s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:nth-child(4) {
        animation-delay: 0.4s;
    }
    &:nth-child(5) {
        animation-delay: 0.5s;
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
    &:nth-child(7) {
        animation-delay: 0.7s;
    }
    &:nth-child(8) {
        animation-delay: 0.8s;
    }
}
